/* #14 ul{
    list-style: none;
    
}
.redq{
    margin-top: 20px;
    background-color: red;
    width: 180px;
    height: 20px;
    color: white;
    text-align: center;
}
.mar{
    margin-top: 20px;
    
}
.mar1{
    margin-top: 20px;
    
} */

/* #15 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: rgba(128, 128, 128, 0.075);
    padding: 5px;
    width: max-content;
}
li a{
    background-color: #fff;
    
    color: blue;
    text-decoration: none;
    width: 150px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600 ;
    transition: all .1s linear;

}
li a:hover{
    background-color: rgb(53, 53, 190);
    color: white;
} */
/* #16 body{
    background-color: wheat;
}
p{
    margin-left: 200px;
}
button{
    background-color: white;
    width: 100px;
    left: 20px;
	top: 200px;
	width: 100px;
	position:fixed;
    } */


    /* #17 body {
        background-color:  #000000dc;
    }
  .box-main {
        position: relative;
        border: 3px solid rgb(255, 255, 255);
        width: 400px;
        height: 400px;
        margin: 10px auto;
    }
 .box1 {
        position:absolute;
        border: 3px solid rgb(255, 255, 255);
        background:red;
        width: 80px;
        height:60px;
        left: 50px;
        top: 50px;
    }
 .box2 {
        position:absolute;
        border: 3px solid rgb(255, 255, 255);
        background:blue;
        width: 80px;
        height:180px;
        left: 50px;
        top: 150px;
    }
.box3 {
        border: 3px solid rgb(255, 255, 255);
        background:green;
        width: 180px;
        height:160px;
        position:absolute;
        right: 50px;
        top: 50px;
    }
 .box4 {
        border: 3px solid rgb(255, 255, 255);
        background:yellow;
        width: 180px;
        height:60px;
        position:absolute;
        right: 50px;
        bottom: 65px;
    } */

/* 
    .clock {
        position: relative;
        left: 200px;
        top: 200px;
        width: 200px;
        height: 200px;
        border: 2px solid rgb(253, 0, 0);
        border-radius: 50%;
    }

.hour,.minute {
        position: absolute;
        width: 50%;
        height: 2px;
        background: rgb(2, 230, 97);
        top: 50%;
        transform-origin: 100%;
        animation: rotateHour 12s infinite linear;
    }

.minute {
    animation: rotateMinute 60s infinite linear;
}

    @keyframes rotateHour {
        from {
            transform: rotate(90deg);
        }
        to {
            transform: rotate(450deg);
        }
    }

    @keyframes rotateMinute {
        from {
            transform: rotate(90deg);
        }
        to {
            transform: rotate(450deg);
        }
    } */


    /* body {
        font-family: Arial, sans-serif;
      }
      
      .block {
        width: 400px;
        height: 200px;
        position: relative;
        overflow: hidden;
      }
      .block1 {
        width: 400px;
        height: 200px;
        position: relative;
 
        overflow: hidden;
      }
      .block2 {
        width: 400px;
        height: 200px;
        position: relative;
        overflow: hidden;
      }
      
      .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.3s;
      }
      
      img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        transition: transform 1ms;
      }
      
      .block:hover .content {
        background: rgba(0, 0, 0, 0);
      }
      
      .block:hover img {
        transform: scale(1.1);
      }
      .block1:hover .content {
        background: rgba(0, 0, 0, 0);
      }
      
      .block1:hover img {
        transform: scale(1.1);
      }
      .block2:hover .content {
        background: rgba(0, 0, 0, 0);
      }
      
      .block2:hover img {
        transform: scale(1.1);
      }
p{
    color: rgba(255, 8, 8, 0.39);
} */


/* 
ol{
    background-color: rgb(223, 106, 106);
    width: 600px;
    height: 200px;
    color: white;
    position: relative;
    


}

li{
    margin-top: 10px;
    background-color: rgb(231, 74, 74);
    position: relative;
    right: 10px;
    top: 20px;
}
.apple{
    width: 100px;
}
.Orange{
    width: 150px;
}
.Pineaple{
    width: 200px;
}
.Pear{
    width: 90px;
}
.Cherry{
    width: 210px;
} */

/* li:nth-child(odd) {
    background-color: #5da9eb; 
  }
  
  li.checked {
    background-color: #d3d3d3; 
    text-decoration: line-through; 
  }
  
  li.checked::before {
    content: "\2713"; 
    margin-right: 5px;
  }
  
  li:not(.checked)::before {
    content: "\2713"; 
    margin-right: 5px;
    color: red; 
  }

li{
    list-style: none;
} */

/* table {
    border-collapse: collapse;
    width: 100%;
}

th, td {

    border: 1px solid rgba(252, 2, 2, 0);
    padding: 8px;
    text-align: left;
}

th {
    position: sticky;
    top: 0;
    background-color: aqua;
}

td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
} */

/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #333;
    transition: width 1s;
}
.sidebar:hover {
    width: 200px;
}
.menu-item {
    background-color: #333;;
    margin-top: 50px;
    padding: 10px;
    color: white;
    transition: background-color 0.5s;
}
.menu-item:hover {
    background-color: #000000;
}
.content {
    margin-left: 60px;
    height: 2000px;
    background-color: #f1f1f1;
    padding: 20px;
    overflow: auto;
} */

/* 
.ENTERPRISE{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 350px;
    border: 2px solid rgba(0, 0, 0, 0.445);
    transition: width 1s;

 
    
}
.ENTERPRISE:hover {
    height: 400px;
}
.ENTERPRISE hr{
    position: relative;
    background-color: red;
    border-style:none ;
    height: 1px;
    width: 245px;

}
.ENTERPRISE h1{
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.ENTERPRISE p{
    position: relative;
    text-align: center;
}
.ENTERPRISE button{
    position: relative;
    left: 85px;
    width: 80px;
    height: 35px;
    color: white;
    border-radius: 10px;
    background-color: red;
    border-style:none ;
}
.PRO{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 350px;
    border: 2px solid rgba(0, 0, 0, 0.445);
    position: relative;
    left: 270px;
    bottom: 355px;
    transition: width 1s;
 
    
}
.PRO:hover {
    height: 400px;
}
.PRO hr{
    position: relative;
    background-color: rgb(250, 246, 25);
    border-style:none ;
    height: 1px;
    width: 245px;

}
.PRO h1{
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.PRO p{
    position: relative;
    text-align: center;
}
.PRO button{
    position: relative;
    left: 85px;
    width: 80px;
    height: 35px;
    color: white;
    border-radius: 10px;
    background-color: rgb(241, 255, 47);
    border-style:none ;
}
.STANDART{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 350px;
    border: 2px solid rgba(0, 0, 0, 0.445);
    position: relative;
    left: 540px;
    bottom: 710px;
    transition: width 1s;
 
    
}
.STANDART:hover {
    height: 400px;
}
.STANDART hr{
    position: relative;
    background-color: rgb(6, 29, 240);
    border-style:none ;
    height: 1px;
    width: 245px;

}
.STANDART h1{
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.STANDART p{
    position: relative;
    text-align: center;
}
.STANDART button{
    position: relative;
    left: 85px;
    width: 80px;
    height: 35px;
    color: white;
    border-radius: 10px;
    background-color: rgb(6, 29, 240);
    border-style:none ;
}
.BASIC{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 350px;
    border: 2px solid rgba(0, 0, 0, 0.445);
    position: relative;
    left: 810px;
    bottom: 1065px;
    transition: width 1s;
 
    
}
.BASIC:hover {
    height: 400px;
}
.BASIC hr{
    position: relative;
    background-color: rgb(21, 247, 0);
    border-style:none ;
    height: 1px;
    width: 245px;

}
.BASIC h1{
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.BASIC p{
    position: relative;
    text-align: center;
}
.BASIC button{
    position: relative;
    left: 85px;
    width: 80px;
    height: 35px;
    color: white;
    border-radius: 10px;
    background-color: rgb(21, 247, 0);
    border-style:none ;
} */


body{
    background-color: rgb(24, 39, 9);
}
.Home{
    color: rgb(163, 165, 165);
}
h1{
    color: white;
    
}
.autor-info{
    color: white;
    position: relative;
    left: 120px;
}
.comments{
    text-decoration: none;
    color: white;
    position: relative;
    left: 240px;
    bottom: 53px;
}
.publ{
    color: white;
    position: relative;
    left: 360px;
    bottom: 105px ;  
}
.updates{
    color: white;
    position: relative;
    left: 480px;
    bottom: 160px;
}
.avatar{
    width: 80px;
    height: 80px;
    position: relative;
    top: 80px;
}
@media screen and(max-width>600) {
    .page{display: block;}
    
}