ul{
    list-style: none;
    
}
.redq{
    margin-top: 20px;
    background-color: red;
    width: 180px;
    height: 20px;
    color: white;
    text-align: center;
}
.mar{
    margin-top: 20px;
    
}
.mar1{
    margin-top: 20px;
    
}